/*CSS reset*/
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
}
/*----------------------------------------------------------------------------------------------------------*/
header{
    float: left;
    display: block;
    margin: 2%;
    padding: 1em;
    
}
header img{
    width: 190px;
    height: 180px;
    border-radius: 40px;
    border: dotted white;
    box-shadow: 1em 0em 1em 0em rgb(31, 181, 151);
}
header h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(21, 36, 22);
}
/*----------------------------------------------------------------------------------------------------------*/

nav{
    display: inline-block;
    text-align: center;
    width: 75%;
    margin: 4em 1em 0 0;
    
}
nav ul{
    list-style-type: none;
    margin: 0em 3.5em;
    text-align: right;
}
nav li{
    display: inline-block;
    font-size: 1.4em;
    font-family: 'Lato', serif;
    font-weight: bold;
    border-style: inherit;
}

nav li a{
    display: block;
    color: rgb(28, 28, 30);
    text-align: center;
    padding: 2em 0 0 2em;
    text-decoration: solid;
}
/*------------------------------------------------------------------------------------------------------------------*/
/*index main*/
.mission{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%; 
    height: 80%;
    overflow: hidden;
    position: relative;
}
.contact_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%; 
    height: 70%;
    overflow: hidden;
    position: relative;
    margin: 8%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 20px; 
    animation: bounce 2s infinite ease-in-out;
}

/* Keyframes for bounce animation */
@keyframes bounce 
{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateX(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
#mission_words{
    background-color: #f0f0f0; 
    padding: 20px;
    display: block;
    position: relative;
    align-items: center;
    border-radius: 10px;
}

.mission_header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    display: block;
    border-radius: 2px;
    border: 2px dashed black;
    padding: 2px;
    
}
.mission_des{
    align-items: center;
    padding: 2em;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 2em;
    align-content: center;
}
.highlight{
    font-family: Jaro, sans-serif;
    font-weight: lighter;
    color: red;
    align-items: center;
    padding: 20%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-items: center;
    align-items: first baseline;
    padding: 20px;
}

.frame {
    text-align: center;
    height: auto;
    max-width: 310px;
    border: 3px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 4px 6px black;
}

.frame img {
    width: 100%;
    height: auto;
    display: block;
}
.pic-text {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
    color: green;
}
.frame:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
    @-webkit-keyframes text-animation {
        0% {font-size: 1em;}
        50% {font-size: 2em;}
        100% {font-size: 1.35em;}

    }
    @keyframes text-animation {
        0% {font-size: 1em;}
        50% {font-size: 2em;}
        100% {font-size: 1.35em;}
    }

    figcaption {
        -webkit-animation-name: text-animation;
        animation-name: text-animation;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-duration: 7s;
        animation-duration: 7s;
    }
    
    .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px; 
    }
    
    .btn {
        grid-column: 1 / span 3;
    }

    .about{
        display: block;
        margin: 2%;
        align-items: center;
    }

    .about_des{
        align-items: center;
        padding: 2em;
        font-family: Lato, sans-serif;
        font-size: 18px;
        line-height: 2em;
        align-content: center;
    }
    .about_des_2 {
        font-weight: bold;
        color: red;
        font-size: 2em;
        padding: 8px; 
        border: 3px solid green;
        border-radius: 8px;
        background-color: white;
        display: inline-block;
        text-align: center;
    }


    .stat{
        display: block;
        margin: 2%;
        align-items: center; 
    }
    .stat_header{
        font-family: Lato, Courier, monospace;
        font-size: 5em;
        font-weight: bolder;
        text-align: center;
    }
    .stats_pic{
        align-items: center;
        height: 80%;
        width: 90%;
        margin:4%;
    }
    .stat_des{
        text-align: center;
        margin: 2%;
        font-size: 1em;
    }
    .donations{
        display: block;
        clear: left;
        margin: 2%;
        font-family: Lato, sans-serif;
        font-size: medium;
        padding: 1em;
        line-height: 1.8;
    }
    .donations h1{
        text-align: center;
        color: rgb(24, 76, 24);
        font-family: Arial, Helvetica, sans-serif;

    }
    .card_pic{
        align-items: center;
        padding: 1em;
    }

    .title{
        color: rgb(60, 9, 147);
        font-family: Lato, serif;
        font-weight: bolder;
        font-size: 2em;
        -webkit-animation-name: text-animation;
        animation-name: text-animation;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-duration: 7s;
        animation-duration: 7s;
    }

    .info{
        padding: 0.4em;
        align-items: center;
        display: flex;
    }
    .info label{
        padding: 1em;
    }
    .next{
        clear: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80%;
        padding: 2em;
    }
    .next h1{
        color: green;
        text-align: center;
    }
    .next li{
        padding: 0.5em;
        text-align: start;
    }
    .contact{
        text-align: center;
        font-family: Lato, sans-serif;
        padding: 1em;
        font-weight: bolder;
            border: 3px solid #4CAF50; 
            border-radius: 10px;
            padding: 20px;
            background-color: #f9f9f9;
            width: 80%; 
            margin: 20px auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
    
    .contact h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(19, 116, 34);
        font-weight: 400em;
        font-size: 2em;
    }
    .question{
        margin: 2em;
        padding: 1em;
    }
    .submission{
        align-items: center;
        margin-top: 1.5em;
    }
    .volunteer h1{
        display: block;
        text-align: center;
        color: #333;
        font-family: Lato, sans-serif;
        padding: 1.4em;
    }
    
    .center{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 50%; 
        height: 50%;
        overflow: hidden;
        position: relative;
        margin-top: 10%;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    .availability {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .availability label {
        display: inline-block;
        margin-right: 10px; 
    }
    
    input, select, textarea {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    
    button {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #218838;
    }
/*-------------------------------------------------------------------------------------------------------------------*/
footer {
    clear: both;
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 1em 3%;
    background-color: aquamarine;
}

footer .copyright {
    font-size: 1em;
    text-align: center;
    color: black;
    width: 100%;
}

footer .social {
    display: inline-flex; 
    gap: 20px; 
}

footer .social img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}
